@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Kanit", sans-serif;
    color: white;
  
}

.nav-area{
}

.item{
    margin: 50px;
    text-align: center;
    justify-content: center;
    font-size: 1.0em;
    background: rgb(179, 179, 179);
    align-content: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 20px 20px 20px rgb(255, 155, 40);
}

.grid{
    display: grid;
}

.grid-template{
    grid-template:
    "header" 140px
    "section-1" 300px
    "section-2" 600px
    "section-3" 600px
    "footer" 200px
    / 1fr;
}

.header{
    grid-area: header;
    height: 70%;
}

.section-1{
    grid-area: section-1;
    display: flex;
}

.section-2{
    grid-area: section-2;
    display: flex;
   flex-flow: column wrap; 
   justify-content: space-between;
}

.section-3{
    grid-area: section-3;
   
}
.text1{
    text-align: center;
    margin: 50px;
    text-shadow: 5px 5px 5px #ff7300;
}
.titu1{
    text-shadow: 5px 5px 5px #ff7300;
}

.footer{
    grid-area: footer;
    align-items: center;
    display: flex;
    height: 55%;
}

.nav_item{
    border-radius: 20px;
    margin: 40px;
    list-style-type: none;
    box-shadow: 0px 0px 20px orange;
    background-color: orange;
    padding: 6px;
}
.Produtos1{
    height: 80%;
    width: 50%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    background-image: url(../img/carosel1.jpg);
    width:340px;
    height: auto;
    background-size: cover;
}


.Produtos2{
    height: 80%;
    width: 50%;
    justify-content: center;
    background: rgb(96, 89, 89);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    background-image: url(../img/carosel1.jpg);
    width:340px;
    height: auto;
    background-size: cover;
}
.Produtos3{
    height: 80%;
    width: 50%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    background-image: url(../img/carosel1.jpg);
    width:340px;
    height: auto;
    background-size: cover;
}
.vendas1{
    height: 40%;
    width: 30%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    border-radius: 25px;
}
.image1 img{
    background-image: url(../img/carosel1.jpg);
    width: 389px;
    height: 200px;
    border-radius: 20px;
}


.vendas2{
    height: 40%;
    width: 30%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    
}
.vendas3{
    height: 40%;
    width: 30%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    background-image: url(../img/carosel1.jpg);
    width: 389px;
    height: 200px;
    border-radius: 20px;
}

.vendas4{
    height: 40%;
    width: 30%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    background-image: url(../img/carosel1.jpg);
    width: 389px;
    height: 200px;
    border-radius: 20px;
}

.vendas5{
    height: 40%;
    width: 30%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    background-image: url(../img/carosel1.jpg);
    width: 389px;
    height: 200px;
    border-radius: 20px;
}

.vendas6{
    height: 40%;
    width: 30%;
    justify-content: center;
    background: rgb(85, 80, 80);
    align-content: center;
    border-radius: 10px;
    flex-direction: row;
    margin: 20px;
    background-image: url(../img/carosel1.jpg);
    width: 389px;
    height: 200px;
    border-radius: 20px;
}
.image img{
    background-image: url(../img/carosel1.jpg);
    width: 389px;
    height: 200px;
    border-radius: 20px;
}
.redes{
    list-style-type: none;
    display: flex;
    position: relative;
}
.l1{
width: 80px;
height: 80px;
margin: 10px;

background-color: white;
box-shadow: 0 8px 25px rgba(0, 0, 0, 0.486);
border-radius: 60px;

transition: 1s;

display: flex;
align-items: center;
justify-content: center;
 
position: relative;
}
.text, .bi{
    color: #ff7300;
}

.l1:hover{
    width: 180px;
}

.l1 .bi{
    color: #c5aeae;
    font-size: 2.2em;
    
}

.l1 .text{
    color: rgb(255, 255, 255);
    font-size: 18px;
    transform: scale(0);
    transition: .2s;
    transition-delay: .2s;
}

.l1 span{
    position: absolute;
    
}

.l1:hover .text{
    transform: scale(1);
}
.l1:hover .icon{
    transform: scale(0);
}
.l1 .icon{
    transition: .3s;
}

.l1::before{
    content: '';
    position: absolute;
    background-image: linear-gradient(45deg, var(--cor1), var(--cor2));
    inset: 0;
    opacity: 0;
    border-radius: 60px;
}

.l1:hover::before{
    opacity: 1;
}

.a1{
    display: flex;
}
.icon1 img{
  float: left;
    width: 5%;
    height: 20%;
    position: relative;
    top: 20px;
    cursor: pointer;
    cursor: hand;
  
    background-size: cover;
}